/* adiciona o estilo de um relogio digtal moderno */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
}
#relogio {
    padding: 20px 40px;
    border: 5px solid #61dafb;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(97, 218, 251, 0.5);
    background-color: #20232a;
}



